    <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="ccy.plugins.fixedInput" version="0.0.1">
        <name>FixedInput</name>
        <description>Cordova Plugin</description>
        <keywords>cordova,phonegap,input,ios</keywords>
        <js-module src="platforms/ios/www/fixed_input.js" name="fixed_input">
            <clobbers target="navigator.fixedInput" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="FixedInput">
                    <param name="ios-package" value="FixedInput"/>
                </feature>
            </config-file>
            <header-file src="platforms/ios/FixedInput/Plugins/FixedInput.h" />
            <source-file src="platforms/ios/FixedInput/Plugins/FixedInput.m" />
        </platform>
    </plugin>
